<html xmlns:th="http://www.thymeleaf.org">
<body>

<!--/*@thymesVar id="message" type="java.lang.String"*/-->
<div th:if="${message}">
    <h2 th:text="${message}"></h2>
</div>

<div>
    <form method="POST" enctype="multipart/form-data" action="/files">
        <table>
            <tr>
                <td>File to upload:</td>
                <td><input type="file" name="file"/></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Upload"/></td>
            </tr>
        </table>
    </form>
</div>

<div>
    <ul>
        <!--/*@thymesVar id="files" type="java.util.List<org.kduda.greedy.model.FileModel>"*/-->
        <li th:each="file : ${files}">
            <!--/*@thymesVar id="file" type="org.kduda.greedy.model.FileModel"*/-->
            <!--/*@thymesVar id="id" type="java.lang.String"*/-->
            <!--/*@thymesVar id="name" type="java.lang.String"*/-->
            <a th:href="${file.id}" th:text="${file.name}"></a>
        </li>
    </ul>
</div>

</body>
</html>